#about-me {
    width: 80%;
    margin: 140px auto;
    text-align: center;
    display: flex;
    @include display-flex(start, center, column);


    h3 {
        margin-top: 30px;
        text-align: center;
        font-size: 1.8em;
        width: 100%;
    }

    h2 {
        font-size: 2.1em;
        width: 100%;
    }

    p {
        margin-top: 15px;
        font-size: 1.3em;
    }
}