$main-font: 'Open Sans', sans-serif;; 
$main-color: #2E2653;
$bg-color: #242038;
$button-bg-color: #5e567e;
$button-bg-color-hover: #8982a5;
$title-color: #FFFFFF;
$subtitle-color: #CAC4CE;
$text-color: #F7ECE1;
$icon-color: #CEB7C7;
